
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #ecf0f1;
    background-color: #2c3e50;
}

h1, h2 {
    color: #2ecc71;
    text-align: center;
}


img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

main {
    padding: 40px;
    max-width: 820px;
    margin: 0 auto;
}

/* Formulaires */
input {
    font-family: inherit;
    font-size: inherit;
    color: #2c3e50;
    padding: .5em 1em;
    border: 2px solid #bdc3c7;
}

button {
    color: white;
    padding: .5em 1em;
    background-color: #e74c3c;
    border: none;
    border: 2px solid #c0392b;
}

button:hover  {
    background-color: #c0392b;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .7s ease;
}

/* Historique */
#historique
